<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="CSSPWebToolsDB" connectionString="Data Source=wmon01dtchlebl2\\sqlexpress;Initial Catalog=CSSPWebToolsDB;Integrated Security=True"/>
    <add name="TestDB" connectionString="Data Source=wmon01dtchlebl2\\sqlexpress;Initial Catalog=TestDB;Integrated Security=True"/>
  </connectionStrings>-->
  <!--<PropertyGroup>
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
  </PropertyGroup>-->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\CSSPWebToolsAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 6bc05c46-6c39-4bf3-9c55-f4965249a575-->